name: Test xcode version and clang version
on:
  [push]

jobs:
  test-vs-scripts-cmd:
    name: Test VS Scripts
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: select xcode version and check clang version
        run: |
          which clang
          clang --version

          xcode-select -s /Applications/Xcode_14.2.app/Contents/Developer || { echo "Failed to switch to Xcode 14.2"; }
          echo "Switched to Xcode 14.2"
          which clang
          clang --version

          xcode-select -s /Applications/Xcode_15.app/Contents/Developer || { echo "Failed to switch to Xcode 15"; }
          echo "Switched to Xcode 15"
          which clang
          clang --version

          ls /Applications | grep Xcode
          wget https://download.developer.apple.com/Developer_Tools/Xcode_14.3.1/Xcode_14.3.1.xip
          ls
